:80

handle_path /api/* {
    reverse_proxy node-api:3000
}

handle_path /pyapi/* {
    reverse_proxy python-api:3001
}
handle_path /auth/* {
    reverse_proxy keycloak:8080
}

# Все остальные запросы — на фронтенд
handle {
    reverse_proxy frontend:5173
}
